[Unit]
Description=Bus service to manage various screen related properties (gamma, dpms, backlight)
Requires=@POLKIT_NAME@.service
@AFTER@

[Service]
Type=dbus
BusName=org.clightd.clightd
User=root
# Default backlight vcp code; update if needed.
# Moreover, you can also specify per-monitor BL VCP value,
# using CLIGHTD_BL_VCP_$mon_id, where mon_id is the monitor identifier 
# as seen by Clightd; you can explore them using: 
# $ busctl call org.clightd.clightd /org/clightd/clightd/Backlight2 org.clightd.clightd.Backlight2 Get
Environment=CLIGHTD_BL_VCP=0x10
# Default pipewire runtime dir watched by Clightd
Environment=CLIGHTD_PIPEWIRE_RUNTIME_DIR=/run/user/1000/
# Default value for emulated backlight support, for screen that do not support
# DDC protocol, Clightd will use {xorg,wl,drm} emulation (like xrandr tool)
Environment=CLIGHTD_BL_EMULATED=1
# Some Xorg output name do not match 1:1 with drm nodes.
# Clightd internally relies on drm nodes,
# therefore, you can set the env variable to a comma-separated list
# of XorgName->drmNodeName mapping, like:
# CLIGHTD_XORG_TO_DRM=HDMI-A-0:HDMI-A-1,HDMI-A-4:HDMI-A-7
Environment=CLIGHTD_XORG_TO_DRM=
ExecStart=@CMAKE_INSTALL_FULL_LIBEXECDIR@/clightd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
