[Unit]
Description=Bus service to manage various screen related properties (gamma, dpms, backlight)

[Service]
Type=dbus
BusName=org.clightd.backlight
User=root
ExecStart=/usr/lib/clightd/clightd
Restart=on-failure
RestartSec=5
Requires=polkit.service

[Install]
WantedBy=multi-user.target
